.chatPage {
  background-color: rgb(57, 48, 48);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chatContainer {
  height: 60%;
  width: 50%;
  background-color: #fff;
}
.header {
  background-color: rgb(82, 167, 82);
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > h2 {
  color: white;
  margin: 1.2vmax;
  font-size: 2vmax;
}
.header img {
  width: 4vmax;
  margin: 1.2vmax;
  cursor: pointer;
  transition: all 0.3s;
}
.header img:hover {
  transform: scale(1.2);
}
.chatBox {
  height: 70%;
  box-sizing: border-box;
}
.inputBox {
  height: 15%;
  display: flex;
}
#chatinput {
  width: 80%;
  border: none;
  padding: 2vmax;
  box-sizing: border-box;
  border-color: white;
  outline: none;
  font-size: 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 0.2vmax solid rgb(161, 136, 136);
}
.sendbtn {
  background-color: rgb(36, 126, 36);
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2vmax;
}
.sendbtn > img {
  width: 4vmax;
  filter: brightness(100) invert();
  transition: all 0.3s;
}
.sendbtn:hover {
  background-color: rgb(9, 100, 9);
}
.sendbtn:hover img {
  transform: translateX(10px);
}

@media (max-aspect-ratio: 7/10) {
  .chatContainer {
    height: 100% !important;
    width: 100% !important;
  }
  .header {
    height: 10%;
  }
  .header > h2 {
    color: white;
    margin: 6vw;
    font-size: 6vw;
  }
  .header img {
    width: 12vw;
    margin: 6vw;
  }
  .chatBox {
    height: 80%;
  }
  .inputBox {
    height: 10%;
  }
  #chatinput {
    width: 75%;
    font-size: 6vw;
    border-top: 1vw solid rgb(161, 136, 136);
  }
  .sendbtn {
    width: 25%;
    cursor: pointer;
    font-size: 6vw;
  }
  .sendbtn > img {
    width: 12vw;
  }
}
